.landing-page {
  font-family: Arial, sans-serif;
}

header {
  padding: 20px;
  display: flex;
  align-items: center;
  height: 50%;
}

.logo {
  width: 100px; /* Adjust the size of your logo */
  height: auto;
}

.picture-section {
  position: relative;
  margin-top: 20px; /* Adjust the top margin to create space under the logo */
}

.your-picture {
  width: 100%; /* Adjust the width of your picture */
  height: auto; /* Maintain aspect ratio */
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.859); /* Transparent white */
  padding: 100px;
  padding-top: 50px;
  padding-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;
  width: 800px;
  height: 200px;
}

.text-overlay h1 {
  font-size: 3.2rem;
  margin-bottom: 10px;
}

.text-overlay p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.register-button {
  background-color: rgb(189, 60, 116);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.3rem;
  cursor: pointer;
  width: 280px;
  height: 60px;
}


.courses-section {
  text-align: center;
  margin-top: 30px;
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.course-link {
  text-decoration: none;
}

.course {
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: calc(33.33vw - 20px);
}

.course:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 260px;
}

.course-details {
  text-align: center;
  font-size: 2rem;
}

.course-details p{
  color: rgb(189, 60, 116);
}
.contact-section {
  background-color: white;
  padding: 40px 0;
  text-align: center;
}

.contact-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 100px;
  background-color: rgb(246, 178, 82);
}

.contact-container h2 {
  color: black;
  margin-bottom: 20px;
  font-size: 2rem;
}

.input-container {
  margin-bottom: 20px;
  text-align: center; /* Center the text within the input container */
  width: 450px;
  margin: 0 auto; /* Center the container itself */
  
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  text-align: left; /* Align labels to the left */
  font-size: 0.8rem;
}

.input-container input,
.input-container textarea {
  width: calc(100% - 20px);
  padding: 8px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #f5bf7d;
  resize: none;
  display: block;
  margin: 5px auto; /* Center inputs horizontally with some vertical spacing */
  background-color: #fce8cf;
  font-size: 0.7rem;
}
.input-container textarea{
  height: 50px;
}

.register-button,
.send-button {
  background-color: rgb(189, 60, 116);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.3rem;
  cursor: pointer;
  width: 280px;
  height: 60px;
  transition: background-color 0.3s ease;
}

.register-button:hover,
.send-button:hover {
  background-color: rgb(139, 38, 94);
}

.register-button:active,
.send-button:active {
  background-color: rgb(89, 8, 54);
}